<title> My Drive - Google Drive </title>
<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png">
<body style="background-color:#44475a;">
<form method="POST">
    <input name="text" style="width: 50%; border-radius: 15px; border: 1px #6272a4 solid; padding: 5px 5px 15px 25px; position: absolute; top: 60%; left: 25%; z-index: 5; background-color:#ffb86c;">
    
</form>
<p style='font-family: "Lucida Console", "Courier New", monospace; position: absolute; top: 43%; left: 25%; font-size: 60px; color: #8be9fd;'>CrappyPrxy</p>
<pre style='position:absolute; top: 95%; color: #8be9fd; font-family: "Lucida Console", "Courier New", monospace;'>CrappyPrxy - V.4.4 - UI Update.</pre>
</body>
