<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
<div id="app" style="position: absolute; top:-75%; left:0px">
	<div id="wrapper">
		<h1 class="glitch" data-text="eternal">‎</h1>
		<h1 class="glitch" data-text="bypass">bypass</h1>
		<span class="sub">TOOLS</span>
	</div>
</div>

<IMG STYLE="position:absolute; TOP:0px; LEFT:0px; WIDTH:100%; HEIGHT:100%" SRC='static/images/grey.png'>
<IMG STYLE="position:absolute; TOP:230px; LEFT:0px; WIDTH:100%; HEIGHT:.9%" SRC='static/images/dark_blue.png'>
<IMG STYLE="position:absolute; TOP:290px; LEFT:0px; WIDTH:100%; HEIGHT:.25%" SRC='static/images/dark_blue.png'>

<DIV style="font-size:18px; font-family:'Montserrat'; position: absolute; top:250px; left:10%; width:100px; height:500px; xz-index: 9; color:#8be9fd">
T O O L S
</DIV>
<DIV style="font-size:18px; font-family:'Montserrat'; position: absolute; top:250px; left:33%; width:100px; height:500px; xz-index: 9; color:#8be9fd">
A B O U T
</DIV>
<DIV style="font-size:18px; font-family:'Montserrat'; position: absolute; top:250px; left:57%; width:150px; height:500px; xz-index: 9; color:#8be9fd">
T U T O R I A L S
</DIV>
<DIV style="font-size:18px; font-family:'Montserrat'; position: absolute; top:228px; left:78%; width:350px; height:450px; xz-index: 9; color:#8be9fd; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
A D D    U T I L I T Y    U T I L I T Y
</DIV>

<IMG STYLE="position:absolute; TOP:250px; LEFT:24%; WIDTH:.135%; HEIGHT:3%" SRC='static/images/dark_blue.png'>
<IMG STYLE="position:absolute; TOP:250px; LEFT:48.5%; WIDTH:.12%; HEIGHT:3%" SRC='static/images/dark_blue.png'>
<IMG STYLE="position:absolute; TOP:250px; LEFT:71.8%; WIDTH:.12%; HEIGHT:3%" SRC='static/images/dark_blue.png'>

<form action="/tools">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:250px; LEFT:10%; WIDTH:95px; HEIGHT:30px">
</form>
<form action="/about">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:250px; LEFT:33%; WIDTH:95px; HEIGHT:30px">
</form>
<form action="/tutorials">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:250px; LEFT:57%; WIDTH:140px; HEIGHT:30px">
</form>
<form action="/auu">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:249px; LEFT:78%; WIDTH:280px; HEIGHT:30px">
</form>
<form action="/">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:0px; LEFT:0%; WIDTH:100%; HEIGHT:240px">
</form>

<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:350px; left:4%; width:100px; height:500px; xz-index: 9; color:#5153ba">
tools
</DIV>

<IMG STYLE="position:absolute; TOP:376px; LEFT:4%; WIDTH:3%; HEIGHT:.12%" SRC='static/images/dark_blue.png'>

<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:410px; left:10%; width:300px; height:300px; xz-index: 9; color:#5153ba" onclick="window.open('/tutorials/novnc','mywindow');" style="cursor: pointer;">  <!--TODO: make sure novnc tutorial exists!-->
NoVNC - A web based VNC viewer and client
</DIV>
<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:500px; left:10%; width:300px; height:300px; xz-index: 9; color:#5153ba" onclick="window.open('https://crappy-prxy.hopto.org','mywindow');" style="cursor: pointer;">
CrappyPrxy - Prxy made by me, crappy at first but now functional. Status:{{ crappyprxyStatus }}
</DIV>
<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:610px; left:10%; width:300px; height:300px; xz-index: 9; color:#5153ba" onclick="window.open('https://crappy-prxy.hopto.org','mywindow');" style="cursor: pointer;">
Titanium Network - An actually good group of proxys. Status:{{ titaniumStatus }}
</DIV>
<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:720px; left:10%; width:300px; height:300px; xz-index: 9; color:#5153ba" onclick="window.open('/tools/disc-mirror','mywindow');" style="cursor: pointer;">
An discord mirror of the #usable-proxys channel
</DIV>
<DIV style="font-size:20px; font-family:'Montserrat'; font-weight: bold; position: absolute; top:830px; left:10%; width:300px; height:300px; xz-index: 9; color:#5153ba" onclick="window.open('/tools/tool-mirror','mywindow');" style="cursor: pointer;">
An offical list of unoffical tools on the AUU
</DIV>

<IMG STYLE="position:absolute; TOP:93%; LEFT:46.72%; WIDTH:60px; HEIGHT:30px" SRC='https://www.gnu.org/graphics/gplv3-with-text-136x68.png'>
<form action="https://github.com/timothyhay256/eternalbypass.git" target="_blank">
    <input type="submit" style="color: transparent; background-color: transparent; border-color: transparent; z-index:200; position: absolute; TOP:93%; LEFT:46.72%; WIDTH:60px; HEIGHT:30px">
</form>